<h1 id="logo">CRUD <span>Usuarios</span></h1>
					<nav id="nav">
						<ul>
							<li class="current"><?= $this->Html->link(__('Listar Usuarios'), ['action' => 'index']) ?><span class="fa fa-address-book-o"></span></li>
							<li class="submenu">
							</li>
							<li><?= $this->Html->link(__('Cerrar sesión'), ['action' => 'logout', 'class' => 'button primary']) ?></li>
						</ul>
					</nav>