<p>Hola, <?php echo $nombre . ' ' . $apellidopaterno . ' ' . $apellidomaterno ?></p>

<p> Haz click en el siguiente link para restablecer tu contraseña.</p>

<p><a href=""><?php echo $this->Html->link('Restablecer contraseña', ['controller' => 'Usuarios', 'action' => 'restablecer', '_full' => true, $contrasenia]); ?></a></p>
